/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/images/areas
jet-admin-ef81a-firebase-adminsdk-eg3ql-033ac5177a.json
/public/images/points
/public/route_data
/public/route_elevation
/public/images/news